---
import Icon from '../components/Icon.astro'
---

<div class='mt-5 flex gap-16 md:mt-12'>
	<button id='left' type='button' class='max-md:hidden' aria-label='Anterior'>
		<Icon
			name='arrow-left'
			width={30}
			height={30}
			class='max-w-none text-primary'
		/>
	</button>
	<div
		id='scroll'
		class='-mt-6 flex snap-x snap-mandatory snap-always gap-8 overflow-auto px-6 py-6 md:overflow-hidden'
		tabindex='0'
	>
		<slot />
	</div>
	<button id='right' type='button' class='max-md:hidden' aria-label='Próximo'>
		<Icon
			name='arrow-left'
			width={30}
			height={30}
			class='max-w-none rotate-180 text-primary'
		/>
	</button>
</div>
<script>
	const scroll = document.getElementById('scroll')
	const left = document.getElementById('left')
	const right = document.getElementById('right')

	function scrollBy(left: number) {
		scroll?.scrollBy({
			left,
			behavior: 'smooth'
		})
	}

	if (scroll && left && right) {
		left.addEventListener('click', () => {
			scrollBy(
				scroll.scrollLeft === 0 ? scroll.scrollWidth : -scroll.offsetWidth
			)
		})

		right.addEventListener('click', () => {
			const remainingScroll = scroll.scrollWidth - scroll.offsetWidth - 1
			const amount =
				scroll.scrollLeft >= remainingScroll
					? -scroll.scrollLeft
					: scroll.offsetWidth
			scrollBy(amount)
		})
	}
</script>
