---
import Textarea from '../components/Textarea.astro'
import Button from '../components/Button.astro'
import Input from '../components/Input.astro'
---

<form
	id='contact'
	class='flex flex-col justify-center gap-7 max-md:items-center md:items-end'
>
	<div class='flex gap-7 max-md:flex-col md:gap-14'>
		<div class='grid gap-5'>
			<Input name='name' placeholder='Nome' autocomplete='name' required />
			<Input type='email' name='email' placeholder='E-mail' required />
			<Input
				type='number'
				name='phone'
				placeholder='Telefone'
				autocomplete='tel'
				min={1000000000}
				required
			/>
		</div>
		<Textarea name='message' placeholder='Deixe aqui sua mensagem' required />
	</div>
	<Button>ENVIAR</Button>
</form>

<script>
	const form = document.querySelector<HTMLFormElement>('form#contact')
	form?.addEventListener('submit', e => {
		e.preventDefault()
		const data = new FormData(form)
		const message = `
				Olá, estou entrando em contato através do site.

				*Nome*: ${data.get('name')}
				*E-mail*: ${data.get('email')}
				*Telefone*: ${data.get('phone')}
				*Mensagem*: ${data.get('message')}
			`
		window.open(
			`https://wa.me/+5542998395419?text=${encodeURIComponent(
				message.replaceAll('\t', '').trim()
			)}`
		)
		form.reset()
	})
</script>
