---
import Icon from './Icon.astro'
import Contact from './Contact.astro'
import Ruler from './Ruler.astro'
---

<footer
	class='mt-14 flex scroll-mt-28 flex-col items-center bg-black/10 md:mt-44'
>
	<Ruler />
	<div
		class='-mt-8 flex h-14 w-68 items-center justify-between rounded-2xl bg-white px-4 shadow-title md:-mt-14 md:h-22 md:w-[50rem] md:px-14'
	>
		<h2 class='font-serif text-base/4 font-medium md:text-2xl md:uppercase'>
			Entre em contato conosco!
		</h2>
		<div class='flex gap-5 md:gap-14'>
			<a href='tel:+5542998395419' aria-label='Telefone'>
				<Icon name='call' width={30} height={30} class='max-md:w-5' />
			</a>
			<a href='mailto:belozupkociprianoadv@gmail.com' aria-label='Email'>
				<Icon name='email' width={30} height={30} class='max-md:w-5' />
			</a>
			<a
				href='https://www.instagram.com/belozupkociprianoadvocacia/'
				aria-label='Instagram'
			>
				<Icon name='instagram' width={30} height={30} class='max-md:w-5' />
			</a>
		</div>
	</div>
	<Contact />
	<div
		class='flex w-full flex-col items-center gap-4 bg-primary py-5 text-center font-serif text-lg text-white md:gap-14 md:py-7 md:text-xl'
	>
		<div
			class='grid w-full max-w-4xl gap-4 max-md:grid-rows-2 md:grid-cols-2 md:gap-28'
		>
			<p class='flex items-center justify-center gap-2 md:justify-end'>
				<Icon
					name='call'
					width={30}
					height={30}
					class='max-md:hidden'
					aria-hidden
				/>
				<span>(42) 9 9839-5419</span>
			</p>
			<p class='flex items-center gap-2 max-md:justify-center'>
				<Icon
					name='email'
					width={30}
					height={30}
					class='max-md:hidden'
					aria-hidden
				/>
				<span>belozupkociprianoadv@gmail.com</span>
			</p>
		</div>
		<address>
			R. Abdala Miguel Sarraf, 347<br />Centro, Rebouças - PR, 84550-000
		</address>
	</div>
	<p class='py-1 text-xs'>Todos os direitos reservados | 2023</p>
</footer>
