---
import Icon from './Icon.astro'
import Contact from './Contact.astro'
import Ruler from './Ruler.astro'
---

<footer
	class='bg-footer text-primary mt-24 flex scroll-mt-28 flex-col items-center pb-8 md:mt-44 md:pb-26'
>
	<Ruler />
	<div
		class='bg-background shadow-input md:shadow-title -mt-8 flex h-14 w-68 items-center justify-between gap-6 rounded-lg px-4 md:-mt-12 md:h-22 md:w-[50rem] md:px-14'
	>
		<h2 class='text-center font-serif text-sm/4 md:text-2xl'>
			ENTRE EM CONTATO CONOSCO!
		</h2>
		<div class='flex gap-4 md:gap-14'>
			<a href='tel:+5542998395419' aria-label='Telefone'>
				<Icon name='call' width={30} height={30} class='max-md:size-4.5' />
			</a>
			<a href='mailto:belozupkociprianoadv@gmail.com' aria-label='Email'>
				<Icon name='email' width={30} height={30} class='max-md:size-4.5' />
			</a>
			<a
				href='https://www.instagram.com/belozupkociprianoadvocacia/'
				aria-label='Instagram'
			>
				<Icon name='instagram' width={30} height={30} class='max-md:size-4.5' />
			</a>
		</div>
	</div>
	<div
		class='mt-8 flex w-full max-w-7xl max-md:flex-col md:mt-16 md:justify-evenly'
	>
		<Contact />
		<div
			class='flex flex-col items-center gap-6 max-md:mt-7 max-md:font-serif max-md:text-lg md:gap-10'
		>
			<p class='flex items-center gap-2.5'>
				<Icon
					name='call'
					width={30}
					height={30}
					class='max-md:hidden'
					aria-hidden
				/>
				<span>(42) 9 9839-5419</span>
			</p>
			<p class='flex items-center gap-2 max-md:justify-center'>
				<Icon
					name='email'
					width={30}
					height={30}
					class='max-md:hidden'
					aria-hidden
				/>
				<span>belozupkociprianoadv@gmail.com</span>
			</p>
			<address class='text-center'>
				R. Abdala Miguel Sarraf, 347<br />Centro, Rebouças - PR, 84550-000
			</address>
		</div>
	</div>
</footer>
