---
import Icon from './Icon.astro'
import LogoImage from '../assets/logo.png'
import { Image } from 'astro:assets'
---

<header
	class='bg-background text-primary sticky top-0 z-10 flex h-14 items-center gap-16 font-serif text-2xl md:h-18 md:justify-center md:text-2xl'
>
	<div class='relative md:hidden'>
		<Icon
			name='hamburger'
			width={28}
			height={14}
			class='text-primary relative left-4'
			aria-label='Menu'
		/>
		<input
			type='checkbox'
			class='peer absolute top-0 size-8 opacity-0'
			aria-label='Menu'
		/>
		<div
			class='bg-background fixed top-0 left-0 -z-10 flex h-26 w-full -translate-y-full transform-gpu justify-center gap-6 px-7 pt-16 text-xl opacity-0 transition-all duration-300 peer-checked:translate-y-0 peer-checked:transform-gpu peer-checked:opacity-100'
		>
			<a href='#services'>SERVIÇOS</a>
			<a href='#about'>SOBRE</a>
			<a href='#contact'>CONTATO</a>
		</div>
	</div>
	<a href='#top' class='max-md:hidden'>INÍCIO</a>
	<a href='#services' class='max-md:hidden'>SERVIÇOS</a>
	<a
		href='#top'
		class='max-md:absolute max-md:left-1/2 max-md:-translate-x-1/2'
	>
		<Image
			height={60}
			class='h-10 w-auto max-md:h-8'
			src={LogoImage}
			alt='Belozupko & Cipriano'
			loading='eager'
			decoding='sync'
		/>
	</a>
	<a href='#about' class='max-md:hidden'>SOBRE</a>
	<a href='#contact' class='max-md:hidden'>CONTATO</a>
</header>
