---
import Icon from './Icon.astro'
---

<article
	class='w-1/2 shrink-0 snap-center rounded-lg bg-footer p-3 pb-10 shadow-card-mobile md:w-64 md:p-5 md:pb-20 md:shadow-card'
>
	<h3
		class='flex items-center justify-center gap-2 font-serif text-lg text-primary md:text-2xl'
	>
		<Icon
			name='family'
			width={32}
			height={32}
			class='text-primary max-md:w-6'
			aria-hidden
		/>
		Direito Familiar
	</h3>
	<p class='mt-3.5 md:mt-7'>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet
		augue vitae est fringilla condimentum molestie id lectus.
	</p>
</article>
